@tailwind base;
@tailwind components;
@tailwind utilities;

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}

a:hover {
	color: #535bf2;
}

body {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	text-align: center;
	margin: 0;
	padding: 0;
	display: flex;
	place-items: center;
	min-width: 100vw;
	min-height: 100vh;
	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

#theme-toggle {
	font-weight: 500;
	font-family: inherit;
	text-decoration: solid underline #646cff;
	cursor: pointer;
	transition: border-color 0.25s;
}

/**
	#theme-toggle:hover,
	#theme-toggle:focus {
		--duration: 1.25s;
		animation: button-pulse var(--duration) infinite alternate linear;
		-webkit-animation: button-pulse var(--duration) infinite alternate linear;
		-moz-animation: button-pulse var(--duration) infinite alternate linear;
		-o-animation: button-pulse var(--duration) infinite alternate linear;
	}
*/

@keyframes button-pulse {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.0625);
	}
}

@-webkit-keyframes button-pulse {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.0625);
	}
}

@-moz-keyframes button-pulse {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.0625);
	}
}

@-o-keyframes button-pulse {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.0625);
	}
}

#theme-toggle:focus,
#theme-toggle:active,
#theme-toggle:focus-visible {
	outline: none;
}